{
    "extends": [
        "react-app",
        "eslint:recommended",
    ],
    "parser": "babel-eslint",
    "rules": {
        "semi": ["error", "always"],
        // "no-duplciate-imports": ["error", {"includeExports": true}],
        "object-curly-spacing": ["error", "always"],
        "quote": ["single", {"avoidEscape": true}],
        "comma-dangle": [1, "always-multiline"],
        "indent": ["error", 4]
    }
}